.main-title {
    font-size: 60px;
    color: red;
    text-align: center;
}

.sub-title {
    font-size: 18px;
    text-align: center;
}

.product-data {
    margin-top: 80px !important;
    row-gap: 80px;
}

.loading {
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchinput {
    padding: 5px;
    margin: 10px 0;
}

.categorybtn {
    margin: 10px;
}

